<manifest package="com.itrided.android.barcodescanner"/>

        <!--
        !!! ADD THIS TO YOUR APP'S MANIFEST SO THE LIBRARY CAN WORK !!!

            <uses-feature android:name="android.hardware.camera" />
            <uses-permission android:name="android.permission.CAMERA" />

            <application>

                <meta-data
                        android:name="com.google.android.gms.version"
                        android:value="@integer/google_play_services_version"/>
                <meta-data
                        android:name="com.google.android.gms.vision.DEPENDENCIES"
                        android:value="barcode" />
            </application>
        -->
